# Default ignored files
/../../SEMESTER_1_JOG_PROJECT /.idea/shelf/
/../../SEMESTER_1_JOG_PROJECT /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../SEMESTER_1_JOG_PROJECT /.idea/httpRequests/
# Datasource local storage ignored files
/../../SEMESTER_1_JOG_PROJECT /.idea/dataSources/
/../../SEMESTER_1_JOG_PROJECT /.idea/dataSources.local.xml
